data/*.h5
*.log
.venv/
__pycache__/
*.pyc

data/rates/*.csv
data/rates/*.csv.meta
data/*_confirm.csv
data/*_confirm.csv.meta

data/rates/*.json
data/*_confirm.json
data/nodes/
data/events_v04*_features.csv
data/events_v04*_features.csv.meta

simscape/slprj/
*.slxc
*.asv
data/events_v1large_features.csv
data/events_v1large_features.csv.meta
